@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  margin: 0;
  padding: 0 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
}

h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
}

p {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  color: #333333;
}
.titlebox img {
  padding-right: 1.2rem;
  display: block;
  bottom: 0;
  width: 40%;
  height: auto;
  object-fit: contain;
  position: relative;
  z-index: 0;
  margin-bottom: 0rem;
}
.titlebox {
  padding-top: 1.7rem!important;
  width: 35vw;
  margin: -2.5% auto 4% auto !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'poppins', sans-serif; */
  /* background: linear-gradient(60deg, rgba(84, 58, 183, 1) 0%, rgba(76, 149, 247, 1) 100%); */
  background: white !important;
  color: white;
  padding: 4% 10%;
  box-shadow: 0 4px 30px rgba(76, 149, 247, 1) !important;
  border-radius: 30px !important;
}

.titlebox h1 {
  color: rgba(76, 149, 247, 1);
  text-shadow: rgba(170, 190, 255, 0.784) 0em 0.025em 0.05em !important;
  font-family: 'Red Hat Display', sans-serif !important;
  font-size: 4rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.titlebox h2 {
  color: rgba(76, 149, 247, 1);
  text-shadow: rgba(170, 190, 255, 0.784) 0em 0.025em 0.05em !important;
  font-family: 'Red Hat Display', sans-serif !important;
  font-style: italic;
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.btn-hover {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
  width: auto;
  padding: 1.25% 4%;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: auto;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}



@media (max-width: 768px) {
  
  h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
  }

  h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.25rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
  }






  .btn-hover {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
    width: auto;
    padding: 4% 8%;
    font-size: 1.5rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 2rem;
    height: auto;
    text-align: center;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}


.btn-hover:hover {
  background-position: 100% 0;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color-1 {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}

.btn-hover.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}

.btn-hover.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}

.btn-hover.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}

.btn-hover.color-5 {
  background-image: linear-gradient(to right, #1ab142, #00d12d, #00e10c, #1dca02);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn-hover.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}

.btn-hover.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

.btn-hover.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.btn-hover.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

.btn-hover.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}

.btn-hover.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}