.info {
    padding: 5% 5%;
    width: 65vw;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

/* .wargames {
    box-shadow: 0px -4px 32px -4px rgb(252, 252, 255)!important;
    background: rgba(160, 160, 160, 0.387)!important;
    

} */
.glass {
    background: rgba(255, 255, 255, 0.188);
    box-shadow: 0 8px 32px 0 rgba(78, 90, 255, 0.568);
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(3px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
}
.heading-1 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    text-shadow: rgb(0, 0, 0) 0em 0.025em 0.05em;
}